<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: red;
        font-size: 40pt;
    }

    p {
        font-size: 24pt;
    }
    #butt
    {
        background-image: url(https://www.kindpng.com/picc/m/343-3430496_transparent-game-button-png-video-game-button-png.png);
        background-size: cover;
        width: 300px;
        height: 300px;
    }
</style>

<div>
   
    <h1>Welcome!</h1><br>
   
    <p>{{ count }}</p>
   
    <form name="passdata" action "." method="post">
       <label>Click Click Click</label><br>
       <input id="butt" type="button" name="message"><br>
    </form>
   
</div>
